@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    
}
.container {
    background-image: url("../images/space.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
}

#left-pane {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#logo-container {
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-pane::before {
    content: '';
    flex: 1;
}

#left-pane::after {
    content: '';
    flex: 3;
}

img {
    height: auto;
    width: 30%;
    margin: 24px 0 0 0;
}

#right-pane {
    background-color: rgb(12, 12, 17);
    padding: 3em;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


form {
    margin: 1.6em -3em;
    width: calc(100% + 6em);
}

.form-box {
    background-color: rgb(19, 19, 27);
    box-shadow: 0 4px 10px 0 rgb(27, 27, 36);
    margin-bottom: 2em;
    padding: 0.6em 3em;
    width: 100%;
}

fieldset {
    border: none;
    margin: 1.3em 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5em;
}

fieldset div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label {
    font-size: 0.9em;
    font-weight: 700;
}

input {
    border-color: rgb(133, 133, 133);
    font-size: 1.1em;
    padding: 8px;
    width: 18em;
}

input:focus {
    outline-color: rgb(38, 38, 51);
}

#password:valid {
    border: 2px solid rgb(0, 204, 0);
}

#password:invalid {
    border: 2px solid red;
}

#password:placeholder-shown {
    border-color: rgb(133, 133, 133);
}

#create-account {
    background-color: rgb(38, 38, 51);
    border: none;
    border-radius: 0.5em;
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em 1em;
}

button:hover {
    cursor: pointer;
}

#create-account,
#already-account {
    margin-left: 3rem;
}

#login {
    color: rgb(182, 182, 182);
    text-underline-offset: 4px;
}

#login:visited {
    color: rgb(182, 182, 182);
}

